<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>新建笔记时，存储记笔记时的位置信息</string>
	<key>NSFaceIDUsageDescription</key>
	<string>解锁应用</string>
</dict>
</plist>
